/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2017, 10:11:22 PM
    Author     : PT Permodalan Nasional Madani (PERSERO)

*/

/* VARIABLE */

$clr-pnm-blue: #0066b2;
$clr-pnm-green: #a6ce37;
$clr-pnm-green-smooth: #e7ffa5;
$clr-bg-body: #fafafa;
$clr-hr-side: $clr-pnm-green;
$clr-hr-mid: rgb(86, 161, 218);

/* MIXIN */

@mixin background-2-color ($clrStart, $clrEnd){
    background: $clrStart;
    background: -moz-linear-gradient(left,$clrStart 0,$clrEnd 100%);
    background: -webkit-gradient(linear,lbackgroundeft top,right top,color-stop(0%,$clrStart),color-stop(100%,$clrEnd));
    background: -webkit-linear-gradient(left,$clrStart 0,$clrEnd 100%);
    background: -o-linear-gradient(left,$clrStart 0,$clrEnd 100%);
    background: -ms-linear-gradient(left,$clrStart 0,$clrEnd 100%);
    background: linear-gradient(to right,$clrStart 0,$clrEnd 100%);
}

@mixin my-box-shadow(){
    -webkit-box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
    -moz-box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
    box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
}

@mixin my-font(){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin caret-dropdown(){
    position: absolute;
    bottom: -3px;
    width: 5px;
    left: -50px;
    right: -50px;
    margin: auto;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-bottom-color: #ccc;
    content: '';
    z-index: 1001;
    
    &::after{
        position: absolute;
        left: -10px;
        bottom: -11px;
        width: 4px;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        border-left: 10px solid transparent;
        content: '';
    }
}

@mixin background-awesome(){
    background: $clr-hr-side;
    background: -moz-linear-gradient(left, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $clr-hr-side),color-stop(0%, $clr-hr-mid), color-stop(100%, $clr-hr-side));
    background: -webkit-linear-gradient(left, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
    background: -o-linear-gradient(left, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
    background: -ms-linear-gradient(left, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
    background: linear-gradient(to right, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
    background: linear-gradient(to right, $clr-hr-side 0, $clr-hr-mid 50%, $clr-hr-side 100%);
}

@mixin line-before-awesome(){
    content: '';
    position: absolute;
    @include background-awesome;
    bottom: 0;
    height: 2px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

html,body {
    height: 100%;
    @include my-font;
}

body {
    background: $clr-bg-body;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    @include my-font;
    font-weight: 100;
}

/* CONTAINER */

.container {
    
    &.container-body {
        min-height: 85%;
        
        &.with-main-nav {
            padding-top: 55px;
        }
    }
    
    &.container-fit {
        width: 100%;
        padding: 0;
        margin: 0; 
    }
    
    &.container-first {
        padding-top: 43px;
        
        &.without-navbar {
            padding-top: 0;
        }
    }
    
    &.container-first-two-nav {
        padding-top: 86px;
    }
    
    &.container-hm2 {
        height: 100%;
        
        .col-hm2lg {
            height: 100%;
        }
    }
    
}

/* COLOUMN */

.col-no-padding {
    padding: 0;
}

/* NAV */

.nav {
    &.nav-center {
        &.nav-tabs, &.nav-pills {
            text-align:center;
            li {
                float:none;
                display:inline-block;
                *display:inline; /* ie7 fix */
                 zoom:1; /* hasLayout ie7 trigger */
            }
        }
    }
} 


/* TABLE */

.table {
    &.table-hidden-overflow {
        overflow: hidden;
    }
}

/* DROPDOWN */

.dropdown {
    
    .dropdown-toggle {
        .caret-dropdown {
            @include caret-dropdown;
            display: none;
        }
    }
    
    &.open {
        .dropdown-toggle {
            .caret-dropdown {
                display: initial;
            }
        }
    }
    
}

/* MODAL */

.modal {
    
    &.modal-right {
        .modal-dialog {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            height: 100%;
            width: 50%;
            
            .modal-content {
                height: 100%;
                width: 100%;
                border-radius: 0;
                border: none;
                position: relative;
                overflow: hidden;
                
                .modal-header {
                    height: 50px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding: 0 15px;
                    z-index: 1;
                    
                    .list-inline {
                            margin: 0;
                            padding-left: 0;
                            margin-left: -5px;
                            list-style: none;
                            height: 100%;
                        
                        li {
                            color: $clr-pnm-blue;
                            position: relative;
                            height: 100%;
                            padding: 12.5px 10px;
                            
                            input {
                                height: 100%;
                                border: 1px solid #ddd;
                                border-radius: 2px;
                                color: #333;
                                -webkit-appearance: none;
                                appearance: none;
                            }
                            
                            &.right {
                                float: right;
                            }
                        }
                    }
                    
                    &:before {
                        @include line-before-awesome;
                    }
                    
                }
                
                .modal-body {
                    height: auto;
                    position: absolute;
                    top: 50px;
                    bottom: 50px;
                    right: 0;
                    left: 0;
                    overflow: auto;
                    overflow-x: hidden;
                }
                .modal-footer {
                    height: 50px;
                    background: #f5f5f5;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0 15px;
                    line-height: 50px;
                }
            }
        }
    }
    
    &.fade-right.fade:not(.in)  { 
        .modal-dialog {
            -webkit-transform: translate3d(75%, 0, 0);
            transform: translate3d(75%, 0, 0);
        }
    }
    
}

/* PANEL */

.panel {
    &.panel-app {
        border: 1px solid #eee;
        border-radius: 0;
        @include my-box-shadow;
        
        .panel-footer {
            border-top-color: #eee;
        }
    }
    
    &.panel-hm2lg {
        background: #fff;
        height: 100%;
        margin-bottom: 0;
        
        .panel-body {
            height: 100%;
            text-align: center;
            .tt {
                font-size: 90px;
                margin-top: 180px;
            }
        }
    }
    
    &.panel-login {
        margin-top: 120px;
        
        .panel-body {
            margin: 0 50px;
        }
    }
}

/* LIST GROUP */

.list-group {
    &.list-group-hm2 {
        border-left: 1px solid $clr-pnm-green;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        
        
        .list-group-item {
            position: relative;
            padding: 30px;
            padding-right: 0;
            font-size: 15px;
            border: none;
            border-radius: 0;
            @include background-2-color(#fff,#fff);
            @include my-box-shadow();
            cursor: pointer;
            
            &:before {
                content: '';
                z-index: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                @include background-2-color($clr-pnm-green,transparent);
            }
            
            &:last-child {
                &:before {
                    display: none;
                }
            }
            
            .sprite {
                display: block;
                height: 50px;
                width: 50px;
                background: #f5f5f5;
                float: right;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
            }
        }
    }
}

/* MAIN NAVBAR */

.main-navbar {
    background: #fff;
    @include my-box-shadow;
    
    .navbar-nav {
        li {
            a {
                padding: 30px;
            }
        }
    }
}

/* APP NAVBAR */

.ap-navbar {
    z-index: 1030;
    -webkit-box-shadow:  0px 1px 8px -3px rgba(17, 17, 17, .16);
    -moz-box-shadow:  0px 1px 8px -3px rgba(17, 17, 17, .16);
    box-shadow:  0px 1px 8px -3px rgba(17, 17, 17, .16);
    margin: 0;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    padding: 1px;
    color: #fff;
    border-radius: 0;
    position: fixed;
    top: 0;
    max-height: 43px;
    min-height: 0;
    width: 100%;
    
    .nav { 
        .open { 
            > a, > a:focus, > a:hover {
                background-color: transparent;
                border-color: transparent;
            } 
        }
        
    }
    
    .navbar-nav {
        
        > li {
            
            > a, > a:focus {
                padding-top: 10px;
                padding-bottom: 10px;
                color: $clr-pnm-blue;
                text-shadow: 0 1px 0 rgba(255,255,255,.25);
                background: transparent;
                
                .dropdown-badge {
                    position: absolute;
                    height: 15px;
                    min-width: 15px;
                    top: 5px;
                    left: 32px;
                    display: block;
                    text-align: center;
                    background-color: #FF5454;
                    border-radius: 7.5px;
                    padding: 0 4px;
                    font-size: 11px;
                    line-height: 15px;
                    color: #fff;
                }
            }
            
            > a.glyphicon-on-navbar {
                padding: 13px 15px;
                font-size: 14px;
            }
            
            >.dropdown-menu {
                border-radius: 5px;
                top: 42px;
            }
            
            > .dropdown-menu-navbar-ap {
                padding: 10px;
                font-size: 0;
                width: 400px;
                overflow: hidden;

                li {
                    padding: 10px;
                    text-align: center;
                    font-size: 13px;
                    display: inline-block;
                    width: 25%;

                    a {
                        color: #333;
                        padding: 5px;
                        border-radius: 5px;
                        position: relative;

                        .glyphicon {
                            font-size: 50px;
                            color: #aaa;
                            width: 100%;
                            margin-bottom: 5px;
                        }

                        &:hover {
                            background: #f5f5f5;
                            color: #333;
                            
                            .glyphicon {
                                color: #333;
                            }
                        }
                        
                        .text-mn {
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        
                        .text-badge {
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: $clr-pnm-blue;
                            color: #fff;
                            border-radius: 5px;
                            padding: 0 5px;
                        }
                    }

                }
            }
            
            &.dropdown.open 
                >.dropdown-toggle {
                    .caret-menu {
                        position: absolute;
                        bottom: -3px;
                        width: 5px;
                        left: -50px;
                        right: -50px;
                        margin: auto;
                        display: inline-block;
                        border-right: 11px solid transparent;
                        border-bottom: 11px solid #fff;
                        border-left: 11px solid transparent;
                        border-bottom-color: #ccc;
                        content: '';
                        z-index: 1001;
                        
                        &::after{
                            position: absolute;
                            left: -10px;
                            bottom: -11px;
                            width: 4px;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid white;
                            border-left: 10px solid transparent;
                            content: '';
                        }
                    }
                }
                
                &.brand {
                    a {
                        padding: 10px;
                        
                        img {
                            position: relative;
                            height: 20px;
                        }
                    }
                }
        }
        
        &.navbar-right {
            margin-right: 0;
            float: right!important;
        }
        
        &.navbar-dsp {
            position: relative;
            
            > li.dropdown {
                position: initial;
                
                .dropdown-menu {
                    padding: 0;
                    width: 430px;
                    background: #fff;
                    border-radius: 0 0 3px 3px;
                    
                    .dropdown-menu-head {
                        position: relative;
                        float: left;
                        width: 100%;
                        border-bottom: 1px solid #D0D0D0;
                        padding: 5px;
                        font-size: 12px;
                    }
                    
                    .dropdown-menu-body {
                        position: relative;
                        float: left;
                        width: 100%;
                        max-height: 400px;
                        overflow: auto;
                        font-size: 12px;
                        color: #333;
                        
                        .dmb-item {
                            position: relative;
                            padding: 8px;
                            border-bottom: 1px solid #eee;
                            font-size: 14px;
                            background: #fbfbfb;
                            cursor: pointer;
                            
                            &.dmb-item-new {
                                background-color: #f5f5f5;
                            }
                            
                            &:hover {
                                background-color: #f5f5f5;
                            }
                            
                            
                            .dmbi-title {
                                display: block;
                                font-weight: bold;
                            }
                            
                            .dmbi-badge {
                                font-size: 8px;
                                background-color: #FF5454;
                                font-weight: normal;
                                padding: 2px 7px;
                            }
                            
                            .dmbi-value {
                                color: #ccc;
                            }
                            
                            .dmbi-action {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                font-size: 9px;
                                color: #bbb;
                                
                                a {
                                    color: #ddd;
                                    
                                    &:hover {
                                        color: #ccc;
                                    }
                                }
                            }
                        }
                        
                        
                    }
                    
                    .form-search-navbar {
                        background: none;
                        border: none;
                        color: #333;
                        float: left;
                        width: 100%;
                        
                        .form-search-product {
                            margin: 0;
                            
                            .form-search-input {
                                margin: 15px;
                            }
                            
                            .form-search-filter {
                                padding: 15px;
                                max-height: 400px;
                                overflow: auto;
                                border: 1px solid $clr-pnm-blue;
                                border-right: 0;
                                border-left: 0;
                                background: #fbfbfb;
                                
                                .list-collapse {
                                    position: relative;
                                    list-style: none;
                                    
                                    li {
                                        .sprite-cat {
                                            margin-right: 5px;
                                        }
                                        
                                        input[type=checkbox] {
                                            -webkit-appearance: none;
                                            appearance: none;
                                            width: 15px;
                                            height: 15px;
                                            border: 1px solid #ddd;
                                            margin-right: 5px;
                                            
                                            &:checked {
                                                background: $clr-pnm-blue;
                                                border-color: $clr-pnm-blue;
                                            }
                                        }
                                        
                                        .ctnm {
                                            color: #333;
                                            text-decoration: none;
                                            
                                            .glyphicon {
                                                color: #fff;
                                                font-size: 10px;
                                            }
                                            
                                            &:hover {
                                                color: #000;
                                                
                                                .glyphicon {
                                                    color: #ddd;
                                                }
                                            }
                                            
                                            
                                        }
                                    }
                                }
                                
                                > .list-collapse {
                                    background: #fff;
                                    margin: 5px 0;
                                    padding: 5px;
                                    border: 1px solid #ddd;
                                    border-radius: 3px;
                                    
                                    > li { 
                                        > .btn-collapse {
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            bottom: 0;
                                            background: #f5f5f5;
                                            padding: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .navbar-form {
        &.navbar-form-search {
            margin: 5px;
            
            .input-group {
                width: 100%;
                input,button {
                    height: 30px;
                    background: transparent;
                }
                
                input {
                    border-radius: 3px;
                }
                
                button {
                    border-color: transparent;
                    left: -40px;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    z-index: 1030;
                }
            }
        }
    }
    
    
    .navbar-brand {
        text-shadow: 0 1px 0 rgba(255,255,255,.25);
        color: #333;
        font-weight: bold;
    }
    
}

/* SUBNAV */

.subnav {
    background: #f4f7f9;
    border-bottom: 1px solid #eee;
    padding: 0 110px;
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    z-index: 1;
    
    > li {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid transparent;
        
        > a {
            border-radius: 0;
            border-color: transparent;
                
            &:focus, &:hover, &:active {
                border-color: transparent;
                border-bottom-color: $clr-pnm-green;
                border-radius: 0;
            }
            
        }
        
        &.open {
            > a {
                    border-radius: 0;
                    border-color: transparent;
                    border-bottom-color: $clr-pnm-green;

                &:focus, &:hover, &:active {
                    border-color: transparent;
                    border-bottom-color: $clr-pnm-green;
                    border-radius: 0;
                }
            }
        }
        
        &.dropdown { 
            .dropdown-toggle {
                .caret-dropdown {
                    bottom: -14px;
                }
            }
            .dropdown-menu {
                border-radius: 3px;
                top: 130%;
            }
        }
    }
}

/* BOX SHADOW */

.box-shadow {
    -webkit-box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
    -moz-box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
    box-shadow: 0px 1px 8px -3px rgba(17, 17, 17, 0.16);
}

/* PAGE HEADER */

.page-header {
    
    &.page-header-form {
        position: relative;
        float: left;
        width: 100%;
        border: none;
        /*background: #ddecf7;*/
        margin: 0;
        margin-bottom: 15px;
        background: #fff;
        border-bottom: 1px solid #f1f1f1;
        display: inline-table;
        
        .bx-ph {
            z-index: 1;
            float: left;
            width: 100%;
            
            h1 {
                text-align: center;
                margin: 20px 0 40px 0;
            }

            .ph-ac {
                position: absolute;
                top: 15px;
                right: 15px;

                > li {
                    cursor: pointer;
                    border-radius: 50%;
                    background: #fff;
                    padding: 5px;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;

                    .glyphicon,.ion {
                        font-size: 25px;
                    }
                }
            }
        }

    }
      
}

/* FORM GROUP */

.form-group {
    
    &.form-group-btn-step {
        .btn {
            background: transparent;
            font-size: 50px;
            color: #ddd;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            line-height: 150px;
            height: 150px;
            border-color: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;
            
            &:hover {
                color: $clr-pnm-blue;
            }
        }
        
        .btn-prev {
            float: left;
            left: -30%;
        }
        
        .btn-next {
            float: right;
            right: -30%;
        }
    }
    
    > label {
        color: #777;
        font-weight: normal;
        font-size: 12px;
    }
    
    &.form-group-search-hm2 {
        margin-top: 15px;
        padding: 10px;
        background: #fff;
        @include my-box-shadow();
        
        .input-group {
            input {
                border: none;
                background: transparent;
                font-size: 15px;
            }
            .input-group-btn {
                button {
                    background-image: none;
                    border: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    font-size: 15px;
                    padding: 5px 20px;
                    color: $clr-pnm-green;
                    
                    &:hover, &:focus , &:active {
                        color: $clr-pnm-green-smooth;
                        background: transparent;
                        box-shadow: none;
                        -webkit-box-shadow: none;
                    }
                }
            }
        }
    }
}

/* FORM CONTROL */

.form-control, .form-control:focus,
.input-group-sm > .form-control, .input-group-sm > .form-control:focus, 
.input-group-sm > .input-group-addon, .input-group-sm > .input-group-addon:focus, 
.form-group-sm .form-control, .form-group-sm .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 40px;
    border-radius: 5px;
}

.form-control, 
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.form-group-sm .form-control {
    -webkit-appearance: none;
    appearance: none;
    background: #fbfbfb;
    border-color: #ccc;
   
    &:focus {
         border-color: $clr-pnm-blue;
    }
}

/* HR */

hr {
    &.awesome {
        border: none;
        height: 3px;
        float: left;
        width: 100%;
        margin: 10px 0;
        @include background-awesome;        
    }
    &.no-margin {
        margin: 0;
    }
}

/* LIST INLINE */

.list-inline {
    &.list-inline-alt-psk {
        position: relative;
        font-size: 0px;
        padding: 20px;
        padding-top: 0;
        
        &:before {
            content: '';
            display: block;
            margin-bottom: 0px;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            margin-left: 0;
            height: 3px;
            border-radius: 2px;
            background: #f5f5f5;
            background: -moz-linear-gradient(left, white 0, #f5f5f5 50%, white 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, white),color-stop(0%, #f5f5f5), color-stop(100%, white));
            background: -webkit-linear-gradient(left, white 0, #f5f5f5 50%,white 100%);
            background: -o-linear-gradient(left, white 0, #f5f5f5 50%, white 100%);
            background: -ms-linear-gradient(left, white 0, #f5f5f5 50%, white 100%);
            background: linear-gradient(to right, white 0, #f5f5f5 50%, white 100%);
            background: linear-gradient(to right, white 0, #f5f5f5 50%, white 100%);
        }
        
        li {
            width: 33.33%;
            font-size: 12px;
            text-align: center;
            
            a {
                text-decoration: none;
                
                &.active {
                    border-bottom: 2px solid $clr-pnm-green;
                }
            }
        }
        
    }
}

/* BACKGROUND WHITE */

.background-white {
    
}

/* BACKGROUND ANIMATION */

$clr-bg-animation-1: rgb(35, 171, 204);
$clr-bg-animation-2: rgb(50, 178, 205);
$clr-bg-animation-3: rgb(40, 196, 204);

.background-animation{
    overflow: hidden;
    display:block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
    .lyr{
        background: -webkit-radial-gradient(70% 70% ellipse,$clr-bg-animation-1 8%,$clr-bg-animation-2 42%,$clr-bg-animation-3 58%);
        background: radial-gradient(ellipse at 70% 70%,$clr-bg-animation-1 8%,$clr-bg-animation-2 42%,$clr-bg-animation-3 58%);
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%
    }
    .lyr-conf{
        -webkit-animation: GradientRotation 12s steps(120) infinite;
        animation: GradientRotation 12s steps(120) infinite;
        margin-left: -25%;
        margin-top:-75%;
        min-height:150%;
        min-width:150%;
        padding-bottom:75%;
        padding-top:75%
    }
    .bac-text{
        z-index:1;
    }
}

@-webkit-keyframes GradientRotation{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes GradientRotation{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

/* PAGE BODY */

.page-body {
    float: left;
    width: 100%;
}

/* HOME */

.hm-tt {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.hm-lg {
    position: relative;
    text-align: center;
    margin-top: 30px;
    
    .hl-img {
        height: 90px;
        width: 90px;
        position: relative;
        padding: 50px;
        display: -webkit-inline-box;
        display: inline-block;
        
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.list-menu-hm {
    
    li {
        position: relative;
        width: 50%;
        float: left;
        padding: 15px 20px;
        
        &:before {
            content: '';
            display: block;
            margin-bottom: 0px;
            position: absolute;
            bottom: 5px;
            right: 10px;
            left: 0;
            margin: auto;
            margin-left: 0;
            height: 1px;
            $color-phl-start: #fff;
            $color-phl-end: $clr-pnm-green-smooth;
            background: $color-phl-start;
            background: -moz-linear-gradient(left,$color-phl-start 0,$color-phl-end 100%);
            background: -webkit-gradient(linear,lbackgroundeft top,right top,color-stop(0%,$color-phl-start),color-stop(100%,$color-phl-end));
            background: -webkit-linear-gradient(left,$color-phl-start 0,$color-phl-end 100%);
            background: -o-linear-gradient(left,$color-phl-start 0,$color-phl-end 100%);
            background: -ms-linear-gradient(left,$color-phl-start 0,$color-phl-end 100%);
            background: linear-gradient(to right,$color-phl-start 0,$color-phl-end 100%);
        }
        
        .sprite {
            display: block;
            background: #f5f5f5;
            width: 50px;
            height: 50px;
            float: right;
            margin-right: 20px;
            border-radius: 50%;
            border: 1px solid $clr-pnm-green;
        }
        .tt {
            font-size: 20px;
            letter-spacing: 3px;
        }
        .dc {
            color: #ddd;
            font-size: 12px;
        }
    }
}

/* HOME2 */

.footer-hm2 {
    margin-top: 50px;
    text-align: center;
    color: #bbb;
}

/* MENU */

.menu {
    padding: 0;
    
    > li {
        width: 25%;
        
        a {
            display: block;
            
            .sprite {
                display: block;
                width: 50px;
                height: 50px;
                background: #f5f5f5;
                margin: auto;
            }
        }
    }
}


/* STEP */

.step {
    padding: 20px 0 5px 0;
    text-align: center;
    
    a {
        position: relative;
        padding: 5px;
        font-size: 9px;
        text-transform: uppercase;
        width: 12.5%;
        display: block;
        float: left;
        
        
        > span {
            display: block;
            width: 15px;
            height: 15px;
            background: $clr-pnm-blue;
            border-radius: 50%;
            float: left;
            position: absolute;
            top: -18px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        &.active {
            > span {
                background: $clr-pnm-green;
            }
        }
        /*
        &:before {
            content: '';
            position: absolute;
            top: -14px;
            height: 2px;
            left: -5px;
            right: -5px;
            margin: auto;
            background: #000;
        }*/
    }
    
    &.step-prospek {
        a {
            width: 11.1%;
        }
    }
    
    &.step-2 {
        a {
            width: 50%;
        }
    }
    
    &.step-3 {
        a {
            width: 33.33%;
        }
    }
    
    &.step-4 {
        a {
            width: 25%;
        }
    }
    
    &.step-5 {
        a {
            width: 20%;
        }
    }
    
    &.step-6 {
        a {
            width: 16.66%;
        }
    }
    
    &.step-7 {
        a {
            width: 16.66%;
        }
    }
    
    &.step-8 {
        a {
            width: 12.5%;
        }
    }
    
    &.step-9 {
        a {
            width: 11.11%;
        }
    }
    
    &.step-10 {
        a {
            width: 10%;
        }
    }
    
    &.step-11 {
        a {
            width: 9.09%;
        }
    }
    
    &.step-12 {
        a {
            width: 8.33%;
        }
    }
    
}

/* SUB STEP */

.sub-step {
    
    
    
}

/* FOOTER */

.container-footer {
    width: 100%;
    margin-top: 30px;
    
    .ul-footer {
        padding: 20px 0;
    }
}

/*============== MOBILE CSS ===============*/

@media (max-width: 992px) {
    
    html {
        -webkit-overflow-scrolling: touch;
    }
    
    /* CONTAINER */
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    
    /* COLOUMN MOBILE */
    .col-fit-mobile {
        padding-right: 0;
        padding-left: 0;
    }
    
    /* MODAL MOBILE */
    
    .modal {
        &.modal-right {
            
            .modal-dialog {
                width: 100%;
                margin-left: 0;
                
                .modal-content {
                    
                }
            }
        }
        
    }
    
    /* APP NAVBAR */
    
    .ap-navbar {
        .container {
            .navbar-nav {
                float: left;
                margin: 0;
                
                li {
                    float: left;
                }
                
                li.dropdown {
                    .dropdown-menu {
                        position: fixed;
                        top: 43px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: auto;
                        border-radius: 0;
                        border-top: 1px solid #ddd;
                    }
                }
                
                &.navbar-dsp {
                    
                    > li.dropdown {

                        .dropdown-menu {
                            
                            .dropdown-menu-body {
                                
                            }

                            .form-search-navbar {
                                position: relative;

                                .form-search-product {
                                    height: 100%;
                                    position: relative;
                                    float: left;
                                    display: block;

                                    .form-search-filter {
                                        position: absolute;
                                        width: 100%;
                                        bottom: 0;
                                        top: 60px;
                                        max-height: none;
                                        
                                        ul {
                                            li {
                                                float: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    
    /* HOME MOBILE */
    
    .hm-lg {
        margin-top: -30px;
    }
    
    .hm-tt {
        background: $clr-pnm-green;
        margin-bottom: 0;
        color: #fff;
        font-size: 23px;
        padding: 30px 0;
    }
    
    .list-menu-hm {
        float: left;
        width: 100%;
        
        li {
            text-align: center;
            background: $clr-pnm-blue;
            border: 0.1px solid #ccc;
            
            &:before {
                display: none;
            }
            
            .bx-sprite {
                padding-bottom: 10px;
                text-align: center;
                margin: 0 auto;
                display: table;
                
                .sprite {
                    text-align: center;
                    margin: 0 auto;
                    display: table;
                }
            }
            
            .tt {
                display: block;
                font-size: 14px;
                color: #fff;
            }
        }
        
    }
    
    /* STEP MOBILE */
    
    .step {
        
        &.step-8 {
            a {
                font-size: 5px;
                font-weight: bold;
            }
        }
        
        &.step-9 {
            a {
                font-size: 5px;
                font-weight: bold;
            }
        }
        
    }

}


/* GLOBAL CLASS */

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}
