<div class="form-group">
    <input type="text" class="form-control" placeholder="Nomor LPJ"/>
</div>
<div class="form-group">
    <label>Jenis Agunan</label>
    <select class="form-control">
        <option>Tanah dan Bangunan</option>
        <option>Tanah</option>
    </select>
</div>
<div class="form-group">
    <label>Status Kepemilikan</label>
    <select class="form-control">
        <option>Milik sendiri</option>
        <option>Milik orang lain</option>
    </select>
</div>
<div class="form-group">
    <label>Hubungan Dengan Pemohon</label>
    <select class="form-control">
        <option>Ayah</option>
        <option>Ibu</option>
        <option>Suami</option>
        <option>Istri</option>
        <option>Anak</option>
        <option>Saudara</option>
        <option>Tetangga</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Pemilik"/>
</div>
<div class="form-group form-group-btn-step">
    <button class="btn btn-primary btn-prev">
        Simpan
    </button>
</div>