<div class="container container-body">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header page-header-form">
            <h1>Agunan</h1>
        </div>
        <div class="page-body">
            <form ng-submit="processFormAgunan()">
                <div class="col-md-6 col-md-offset-3">
                    <ng-include src="'partials/agunan-fields.html'"></ng-include>
                </div>
            </form>
        </div>
    </div>
</div>