<div class="form-group">
    <input type="number" class="form-control" placeholder="Rencana Plafond"/>
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Jangka Waktu"/>
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Kemampuan Angsuran Per Bulan"/>
</div>
<div class="form-group">
    <label>Tujuan Pembiayaan</label>
    <select class="form-control">
        <option>Investasi</option>
        <option>Modal Kerja</option>
    </select>
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="aplikasi.informasipembiayaan" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="aplikasi.informasiusaha" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>