<div class="container container-body">
    <div class="col-md-12">
        <h1 class="hm-tt">PROSPEK</h1>
        <ul class="list-unstyled list-menu-hm col-md-6 col-md-offset-3">
            <li>
                <span class="sprite sprite-prospek"></span>
                <a ui-sref="prospek.kategori" class="tt">PROSPEK</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-keluarga"></span>
                <a ui-sref="keluarga" class="tt">KELUARGA</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-aplikasi"></span>
                <a ui-sref="aplikasi" class="tt">APLIKASI</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-agunan"></span>
                <a ui-sref="agunan" class="tt">AGUNAN</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-dokumen"></span>
                <a ui-sref="dokumen" class="tt">DOKUMEN</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-aom"></span>
                <a ui-sref="aom" class="tt">AOM</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
        </ul>
    </div>
</div>
