<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container container-fluid container-fit container-hm2 container-first">
    <div class="col-md-7 col-no-padding col-hm2lg">
        <div class="panel panel-default panel-app panel-hm2lg">
            <div class="panel-body">
                <h1 class="tt">Prospek</h1>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group form-group-search-hm2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cari" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="ion ion-ios-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <ul class="list-group list-group-hm2">
            <li class="list-group-item" ui-sref="prospekcreate">
                <span class="sprite"></span>
                Create
            </li>
            <li class="list-group-item" ui-sref="prospeklist">
                <span class="sprite"></span>
                List
            </li>
        </ul>
        <div class="panel panel-default panel-app">
            <div class="panel-body text-center">
                <a ui-sref="login">Sign out</a>
            </div>
        </div>
        <div class="footer-hm2 text-center">
            <span>PT Permodalan Nasional Madani (Persero)</span>
            <br/>
            <span>&copy; 2017</span>
        </div>
    </div>
</div>