<div class="container">
    <div class="col-md-12">
        <h1 class="hm-tt">PROSPEK</h1>
        <ul class="list-unstyled list-menu-hm col-md-6 col-md-offset-3">
            <li>
                <span class="sprite sprite-prospek"></span>
                <a href="#prospek" class="tt">PROSPEK</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-keluarga"></span>
                <a href="#" class="tt">KELUARGA</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-aplikasi"></span>
                <a href="#" class="tt">APLIKASI</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-agunan"></span>
                <a href="#" class="tt">AGUNAN</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-dokumen"></span>
                <a href="#" class="tt">DOKUMEN</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <span class="sprite sprite-aom"></span>
                <a href="#" class="tt">AOM</a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
        </ul>
    </div>
</div>
