<div class="container container-fluid page-header page-header-form">
    <div class="col-md-12">
        <div class="bx-ph">
            <h1>Keluarga</h1>
            <ul class="list-inline ph-ac">
                <li class="box-shadow" ng-controller="modalCtrl as m" ng-click="m.showObjectInfo();" 
                    ng-init="
                        modalTemplate='partials/modals/modal-prospek-list.html'; 
                        modalClass='modal-right fade-right modal-prospek-list'; 
                        modalController='modalProspekListCtrl'
                ">
                    <span class="ion ion-ios-list-outline"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <ng-include src="'partials/keluarga-step.html'"></ng-include>
        <hr class="awesome">
    </div>
</div>

<div class="container container-body">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-body">
            <form ng-submit="processFormKeluarga()">
                <div class="col-md-6 col-md-offset-3" ui-view></div>
            </form>
        </div>
    </div>
</div>

