<nav class="navbar navbar-fixed-top ap-navbar">
    <div class="container">
        <ul class="nav navbar-nav navbar-dsp">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)" >
                <a uib-dropdown-toggle>
                    <span class="ion ion-android-menu"></span>
                    <span class="caret-menu"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-navbar-ap" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <ng-include src="'partials/menu.html'"></ng-include>
                </ul>
            </li>
        </ul>
    </div>
</nav>