<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container container-fluid container-first page-header page-header-form no-padding has-bg-color">
    <div class="bx-ph">
        <div class="bxph-left">
            <h1 class="text-center">
                <span class="ion ion-document"></span>
                Create
            </h1>
        </div>
        <div class="bxph-right">
            <h3 class="text-center">List Calon Debitur</h3>
        </div>
        <hr class="awesome no-margin"/>
    </div>
</div>
<div class="container container-fluid container-body container-fit">
    <div class="col-md-6">
        <div class="panel panel-default panel-app">
            <div class="panel-heading">
                <h1>Data Calon Debitur</h1>
            </div>
            <div class="panel-body">
                <ul ng-if="formValidMsg" class="alert alert-danger">
                    <li ng-repeat="x in formValidMsg">{{x}}</li>
                </ul>
                <form name="prospekCreateForm" ng-submit="processFormProspekCreate()">
                    <div class="col-md-6 col-md-offset-3 ui-view"></div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-no-padding">
        <div class="panel panel-default panel-app panel-wz-ls">
            <div class="panel-body">
                <ng-include src="'partials/tabel-calon-debitur.html'"></ng-include>
            </div>
        </div>
    </div>
</div>



