<div class="form-group">
    <select class="form-control">
        <option>Provinsi</option>
        <option>DKI Jakarta</option>
        <option>Jawa Barat</option>
        <option>Jawa Tengah</option>
        <option>Jawa Timur</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control">
        <option>Kabupaten / Kota</option>
        <option>Jakarta Timur</option>
        <option>Jakarta Barat</option>
        <option>Jakarta Utara</option>
        <option>Jakarta Selatan</option>
        <option>Jakarta Pusat</option>
    </select>
</div>
<div class="form-group">
    <select class="form-control">
        <option>Kecamatan</option>
        <option>Jatinegara</option>
        <option>Ciracas</option>
    </select>
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Kode Pos" />
</div>
<div class="form-group">
    <textarea type="text" class="form-control" placeholder="Alamat" ></textarea>
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Lama Menempati" />
</div>
<div class="form-group">
    <select class="form-control">
        <option>Status Tempat</option>
        <option>Milik Pribadi</option>
        <option>Kontrak</option>
    </select>
</div>