<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Panggilan" ng-model="formDataProspek.namapanggilan"/>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Lengkap" ng-model="formDataProspek.namalengkap"/>
</div>
<div class="form-group">
    <ul class="list-inline">
        <li>
            <input type="radio" name="jeniskelamin" ng-model="formDataProspek.jeniskelamin"/>
            <label>Laki-laki</label>
        </li>
        <li>
            <input type="radio" name="jeniskelamin" ng-model="formDataProspek.jeniskelamin"/>
            <label>Perempuan</label>
        </li>
    </ul>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Tempat Lahir" ng-model="formDataProspek.tempatlahir"/>
</div>
<div class="form-group">
    <input type="date" class="form-control" placeholder="Tanggal Lahir" ng-model="formDataProspek.tempatlahir"/>
</div>
<div class="form-group">
    <select class="form-control" placeholder="Status Perkawinan" ng-model="formDataProspek.statusperkawinan">
        <option>Kawin</option>
        <option>Belum Kawin</option>
        <option>Duda</option>
        <option>Janda</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Ibu Kandung" ng-model="formDataProspek.namaibukandung"/>
</div>
<div class="form-group">
    <ul class="list-inline">
        <li>
            <input type="radio" name="kewarganegaraan" ng-model="formDataProspek.kewarganegaraan"/>
            <label>WNA</label>
        </li>
        <li>
            <input type="radio" name="kewarganegaraan" ng-model="formDataProspek.kewarganegaraan"/>
            <label>WNI</label>
        </li>
    </ul>
</div>
<div class="form-group">
    <select class="form-control" placeholder="Agama" ng-model="formDataProspek.agama">
        <option selected>-- Agama --</option>
        <option>Islam</option>
        <option>Katolik</option>
        <option>Protestan</option>
        <option>Hindu</option>
        <option>Budha</option>
    </select>
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="prospek.kategori" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="prospek.dokumenidentitas" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>

