<div class="form-group">
    <input type="number" class="form-control" placeholder="Nomor Handphone" required/> 
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Nomor Telepon" required/> 
</div>
<div class="form-group">
    <input type="email" class="form-control" placeholder="Email" required /> 
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="prospek.dokumenidentitas" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="prospek.alamat" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>