<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Panggilan"/>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Lengkap"/>
</div>
<div class="form-group">
    <ul class="list-inline">
        <li>
            <input type="radio"/>
            <label>Laki-laki</label>
        </li>
        <li>
            <input type="radio"/>
            <label>Perempuan</label>
        </li>
    </ul>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Tempat Tanggal Lahir"/>
</div>
<div class="form-group">
    <select class="form-control" placeholder="Status Perkawinan">
        <option>Kawin</option>
        <option>Belum Kawin</option>
        <option>Duda</option>
        <option>Janda</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Nama Ibu Kandung"/>
</div>
<div class="form-group">
    <ul class="list-inline">
        <li>
            <input type="radio"/>
            <label>WNA</label>
        </li>
        <li>
            <input type="radio"/>
            <label>WNI</label>
        </li>
    </ul>
</div>
<div class="form-group">
    <select class="form-control" placeholder="Agama">
        <option>Islam</option>
        <option>Katolik</option>
        <option>Protestan</option>
        <option>Hindu</option>
        <option>Budha</option>
    </select>
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="prospek.kategori" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="prospek.dokumenidentitas" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>

