<div class="form-group">
    <select class="form-control">
        <option>SD</option>
        <option>SMP</option>
        <option>SMA</option>
        <option>D1</option>
        <option>D3</option>
        <option>D4/S1</option>
        <option>S2</option>
        <option>S3</option>
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Gelar" />
</div>
<div class="form-group form-group-btn-step">
    <a ui-sref="prospek.statuspekerjaan" class="btn btn-primary btn-prev">
        <span class="ion ion-ios-arrow-left"></span>
    </a>
    <a ui-sref="prospek.submit" class="btn btn-primary btn-next">
        <span class="ion ion-ios-arrow-right"></span>
    </a>
</div>