<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container container-body container-first">
    <div class="col-md-12 col-fit-mobile">
        <div class="hm-lg">
            <span class="hl-img">
                <img src="images/user-default.png" class="img-circle" />
            </span>
        </div>
    </div>
    <div class="col-md-12 col-fit-mobile">
        <h1 class="hm-tt">NAMA</h1>
        
        <ul class="list-unstyled list-menu-hm col-md-12 col-fit-mobile">
            <!--
            <li>
                <a ui-sref="kategoriprospek" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-kategori"></span>
                    </div>
                    KATEGORI
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            -->
            <li>
                <a ui-sref="prospek.informasipribadi" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-keluarga"></span>
                    </div>
                    IDENTITAS
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="keluarga.data" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-keluarga"></span>
                    </div>
                    KELUARGA
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="aplikasi.informasipembiayaan" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-aplikasi"></span>
                    </div>
                    APLIKASI
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="agunan" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-agunan"></span>
                    </div>
                    AGUNAN
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="dokumen" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-dokumen"></span>
                    </div>
                    DOKUMEN
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
            <li>
                <a ui-sref="aom" class="tt">
                    <div class="bx-sprite">
                        <span class="sprite sprite-aom"></span>
                    </div>
                    AOM
                </a>
                <p class="dc">Deskripsi disini ...</p>
            </li>
        </ul>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>