
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) #/$1 
</IfModule>

#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase http://localhost:81/PROSPEK_PNM/public_html/frontend/
#    RewriteRule ^index.html$ - [L]
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule . /index.html [L]
#</IfModule>